#app header span{
	color:white;
	font-size: 12px;
}
.mui-input-row label{
	padding: 11px 20px;
}
/*必选项*/
.mui-content .must{
	color: red;
	position: absolute;
	left: 10px;
	top: 15px;
}
/*距离头部的空白*/
#spac{
	margin-top:50px;
}
#spac p{
	margin-left:10px;
	font-size:12px;
	color:#B4B2B4;
}
.mui-btn-block {
	padding: 10px;
}
#mui-input-lab{
	width: 25%;
}
