<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!--自适应屏幕-->
	<meta name="format-detection" content="telphone=no, email=no" />
	<!--取消ios自动识别手机号码与邮箱-->
	<link rel="stylesheet" href="../../plugin/css/mui.min.css" />
	<link rel="stylesheet" href="../../common.css" />
	<link rel="stylesheet" type="text/css" href="login.css" />
	<title>登录</title>
</head>
<body>
<div id="app">
	<header class="mui-bar mui-bar-nav">
				<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
				<h1 class="mui-title">登录</h1>
			</header>
			<div style="display:flex;justify-content:center;margin-top:70px;">
				<img style="width:200px;height:200px;border-radius:50%;" src="../../images/login.jpg" alt="" />
			</div>
			<div class="mui-content">
				<form id='login-form' class="mui-input-group">
					<div class="mui-input-row">
						<label>账号</label>
						<input id='account' v-model="userName" type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
					</div>
					<div class="mui-input-row">
						<label>密码</label>
						<input v-model="password" type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
					</div>
				</form>
				<div class="mui-content-padded">
					<button id='login' class="mui-btn mui-btn-block mui-btn-primary" @click='login'>登录</button>
					<div class="link-area">
						<a id='reg' href="signin.html">注册账号</a> <span class="spliter">|</span>
						<a id='forgetPassword' href="forget.html">忘记密码</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/jscript" src="../../plugin/js/mui.min.js"></script>
	<script type="text/jscript" src="../../plugin/js/vue.js"></script>
	<script type="text/jscript" src="../../common.js"></script>
	<script type="text/jscript" src="../../plugin/js/axios.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				userName: '',
				password: ''
			},
			methods: {
				login: function() {
					axios({
						method: 'post',
						url: JTURLAPI + '/app/user/login',
						params: {
							telephone: this.userName + '',
							password: this.password + ''
						},
					}).then(function(res) {
						if(res.data.code == 0) {
						    if(res.data.userName == null || res.data.userName == ''){
                                window.localStorage.setItem('userName', app.userName);
                            }else{
                                window.localStorage.setItem('userName', res.data.userName);
                            }

                            if(res.data.deviceSerial == null || res.data.deviceSerial == ''){

                            }else{
                                window.localStorage.setItem('deviceId', res.data.deviceSerial);
                            }
							window.localStorage.setItem('token', res.data.token);
							window.localStorage.setItem('userId', res.data.userId);

                            window.location.href = '../../index.html'
						}else{
							mui.toast(res.data.msg,{ duration:'long', type:'div' }) 
						}
					}).catch(function(err) {
						mui.toast(err,{ duration:'long', type:'div' }) 
					})
				}
			}
		})
	</script>
</html>