.right,.resive {
    font-size: 16px;
}
.right{
	color: #fff;
	line-height: 40px;
    font-size: 12px;
}
.revise{
    float: right;
	font-weight: 700;
	color: #fff;
}


.content {
    width: 100%;
    text-align: justify;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 30px;
}
table{
    margin-top: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    border: 0;

}
table th {
    height: 40px;
    font-size: 12px;
    background-color: #90EE90;
}
table .option {
    background-color:#F0AD4E;
}
table td {
    height: 50px;

}
