body,.mui-input-group{
	background-color: #fff;
}
span{
	color: #fff;
	font-size: 12px;
	line-height: 40px;
}
.revise{
	float: right;
	margin-right: 0.75rem;
}

.mui-input-group{
	margin-top: 40px;
	font-size: 16px;
}
.mui-input-group .mui-input-row:after{
	background-color: #fff;
}
.mui-input-group:before,
.mui-input-group:after{
	background-color: #fff;
}
.mui-input-row label~input{
	border-bottom: 0.05rem solid #c8c7cc;
}
.mui-input-group{
	background-color: #fff;
}
.mui-input-group .mui-input-row{
	height: 3.2rem;
}
.mui-input-row label{
	font-size: 12px;
	width: 30%;
	padding: 0 0 0 2.75rem;
	line-height: 50px;
}
.mui-input-row label~input{
	text-align: center;
	float: none;
	width: 50%;
}

.mui-input-row .mui-input-clear~.mui-icon-clear{
	right: 4.5rem;
}
/*必选项*/
.must{
	color: red;
	position: absolute;
	left: 32px;
	top: 5px;
}
