body,.mui-input-group{
	background-color: #fff;
}
span{
	color: #fff;
	font-size: 12px;
	line-height: 40px;
}
.revise{
	float: right;
	margin-right: 0.75rem;
}

.mui-input-group{
	margin-top: 70px;
	font-size: 16px;
}
.mui-input-group .mui-input-row:after{
	background-color: #fff;
}
.mui-input-group:before,
.mui-input-group:after{
	background-color: #fff;
}
.mui-input-row label~input{
	border-bottom: 0.05rem solid #c8c7cc;
}
.mui-input-group{
	background-color: #fff;
}
.mui-input-group .mui-input-row{
	height: 3.2rem;
}
.mui-input-row label{
	font-size: 12px;
	width: 30%;
	padding: 0.75rem 0rem 0.75rem 3rem;
}
.mui-input-row label~input{
	text-align: center;
	float: none;
	width: 60%;
}
.mui-btn-primary{
	border: #4C6FB0;
	background-color: #4C6FB0;
}
.mui-btn, button{
	width: 80%;
	padding: 0.8rem 0.6rem;
	clear: both; 
	display: block; 
	margin:auto; 
	margin-top: 2rem;
}

