body,.mui-input-group{
	background-color: #fff;
}
span{
	color: #fff;
	font-size: 12px;
	line-height: 40px;
}
.revise{
	float: right;
	margin-right: 0.75rem;
}

.mui-input-group{
	margin-top: 60px;
	font-size: 12px;
}
.mui-input-group .mui-input-row:after{
	background-color: #fff;
}
.mui-input-group:before,
.mui-input-group:after{
	background-color: #fff;
}
.mui-input-row label~input{
	border-bottom: 0.05rem solid #c8c7cc;
}
.mui-input-group{
	background-color: #fff;
}
.mui-input-group .mui-input-row{
	height: 3.2rem;
}
.mui-input-row label{
	font-size: 12px;
	width: 31%;
	padding: 0.75rem 0rem 0.75rem 1rem;
}
.mui-input-row label~input{
	text-align: center;
	float: none;
	width: 60%;
}
.mui-btn-primary{
	border: #4C6FB0;
	background-color: #4C6FB0;
}
.mui-btn, button{
	width: 100%;
    line-height: 12px;
	font-size: 12px;
	padding: 0.8rem 0.6rem;
	clear: both; 
	display: block; 
	margin: 2rem auto;
}

.mui-popup-title{
    font-size: 12px!important;
}
.mui-popup-title+.mui-popup-text{
    font-size: 12px!important;
}

.mui-popup-button{
    font-size: 12px!important;
}
