<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../../plugin/css/mui.min.css" />
		<link rel="stylesheet" href="../../common.css" />
		<link rel="stylesheet" href="editbook.css"/>
		<!--自适应屏幕-->
	    <meta name="format-detection" content="telphone=no, email=no"/>
	    <!--取消ios自动识别手机号码与邮箱-->
		<title>编辑书架</title>
	</head>
	
	<body>
		<div id="app">
		<header class="mui-bar mui-bar-nav">
			<span><i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" @click="goback"></i>返回</span>
			<h1 class="mui-title">编辑书架</h1>
			<span class="revise"  @click="submit">完成</span>
		</header>
		
		<form class="mui-input-group ctt-content">
				<div class="mui-input-row" style="margin-top: 50px;">
					<label>书籍名：</label>
					<input type="text" v-model="list.name" class="mui-input-clear" placeholder="">
				</div>
				<div class="mui-input-row">
					<label>作&nbsp;&nbsp;&nbsp;者：</label>
					<input type="text" v-model="list.author" class="mui-input-clear" placeholder="">
				</div>
				<div class="mui-input-row">
					<label>描&nbsp;&nbsp;&nbsp;述：</label>
					<input type="text" v-model="list.description" class="mui-input-clear" placeholder="">
				</div>
				<div class="mui-input-row">
					<label>链&nbsp;&nbsp;&nbsp;接：</label>
					<input type="text" v-model="list.downloadUrl" class="mui-input-clear" placeholder="">
				</div>
				
			</form>
			
			<!-- 模态框部分 -->
			<div class="spinner" v-if="!statu">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
			<div class="zzc" v-if="!statu"></div>
		
		</div>
		
		<script src="../../plugin/js/mui.min.js"></script>
		<script src="../../plugin/js/mui.picker.min.js"></script>
		<script src="../../plugin/js/vue.js"></script>
		<script src="../../plugin/js/axios.js"></script>
		<script src="../../common.js"></script>
		<script>
			var id;
			var app = new Vue({
				el: "#app",
				data: {
					statu: false,
					list: {
						name: '',
						author: '',
						description: '',
						downloadUrl: '',
						id: ''
					},
					id: ''
				},
				mounted: function() {
					this.getMsg();
				},
				methods: {
					getMsg: function() {
						tabId = window.location.href.split('?')[1];
						this.id = tabId;
//						console.log(this.id);


						var data = JSON.stringify({
							"userId": window.localStorage.getItem("userId"),
							"token": window.localStorage.getItem("token"),
							"pageSize": 10000
						});
						axios({
							method: 'post',
							url: JTURLAPI + '/app/bookshelf/bookshelfList',
							data: data,
							headers: {
								"Content-Type": "application/json;charset=UTF-8"
							}
						}).then((res) => {
							this.bookList = res.data.page.list;
							for(let i = 0; i < this.bookList.length; i++) {
//								console.log(tabId);
								if(this.bookList[i].id == tabId){
									window.app.list.name = this.bookList[i].name;
									window.app.list.author = this.bookList[i].author;
									window.app.list.description = this.bookList[i].description;
									window.app.list.downloadUrl = this.bookList[i].downloadUrl;
									console.log(window.app.list.name);
								}
	
							}
							
							window.app.statu = true;
						})
						
					},
					submit: function() {
						var data = JSON.stringify({
							"userId": parseInt(window.localStorage.getItem("userId")),
							"token": window.localStorage.getItem("token"),
							"name": window.app.list.name,
							"author": window.app.list.author,
							"description": window.app.list.description,
							"downloadUrl": window.app.list.downloadUrl,
							"id": window.app.id
						});
						axios({
							method: 'post',
							url: JTURLAPI + '/app/bookshelf/update',
							data: data,
							headers: {
								"Content-Type": "application/json;charset=UTF-8"
							}
						}).then(function(res) {
							console.log(res);
							if(res.data.code == 0) {
								window.location.href = "book.html";
							} else {
								mui.toast('距离上次登录时间过长，请重新登录', {
									duration: 'long',
									type: 'div'
								})
							}

						}).catch(function(err) {
							mui.toast('距离上次登录时间过长，请重新登录', {
								duration: 'long',
								type: 'div'
							})
						})
						
					},
					goback: function() {
						window.location.href = "detailbook.html" + '?' + tabId;
					}
				}
			})
		</script>
	</body>
</html>
